<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon shop</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        #app-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .pokemon-logo {
            width: 350px;
        }
        #input-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #submit-btn {
            width: 200px;
        }

    </style>
</head>
<body>

<div id="app-wrapper">
    <div id="logo-wrapper">
        <img class="pokemon-logo" th:src="@{/pokemon_logo.png}">
    </div>

    <div>
        <form id="input-wrapper" th:action="@{/shop/pokemons}" th:object="${appUser}" method="post">
            <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Username: </label>
            <div class="relative mt-2 rounded-md shadow-sm">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                    <span class="text-gray-500 sm:text-sm"><i class="fas fa-id-badge"></i></span>
                </div>
                <input th:field="*{username}" value="" required type="text" name="username" id="username" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Enter your username...">
            </div>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" id="submit-btn" onclick="(() => {localStorage.clear()})()">Lessgo</button>

        </form>
        <a th:href="@{/registerpage}" style="display: flex; justify-content: center">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Register</button>
        </a>
    </div>

    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert"  th:text="${alert}" th:if="${alert == 'User doesnt exist'}"></div>
</div>
</body>
<script>

</script>
</html>